[Match]
Name = eth0

[Network]
Description = Interface eth0 autoconfigured by PVE
DHCP = no

[Address]
Label = static-ipv4
Address = 193.191.177.207/25

[Address]
Label = static-ipv6
Address = 2001:6a8:2880:a077::cf/64

[Route]
Gateway = 2001:6a8:2880:a077::1
GatewayOnLink=yes

[Route]
Gateway = 193.191.177.254
GatewayOnLink=yes
